* text=auto eol=lf

dist/** -diff linguist-generated=true

# export settings
src/** export-ignore
.devcontainer/** export-ignore
.github/** export-ignore
badges export-ignore
*.json export-ignore
*.md export-ignore
.* export-ignore
*.yaml export-ignore
*.mjs export-ignore
*.ts export-ignore
*.config.js export-ignore
