name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-typescript:
    name: TypeScript Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Check Format
        id: npm-format-check
        run: npm run format:check

      - name: Lint
        id: npm-lint
        run: npm run lint

      - name: Test
        id: npm-ci-test
        run: npm run ci-test

  test-action:
    name: GitHub Actions Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          configs: |
            [user]
              name = hoge

      - name: Print Output
        env:
          CONFIG_PATH: ${{ steps.test-action.outputs.config_path }}
        run: echo "${CONFIG_PATH}"
      - name: Print Output file
        env:
          CONFIG_PATH: ${{ steps.test-action.outputs.config_path }}
        run: cat "${CONFIG_PATH}"
      - name: Git config
        run: |
          git config --list

      - name: Test user name
        run: |
          test "$(git config user.name)" == "hoge"

  test-multi-workspace:
    name: GitHub Actions Test (2 workspace)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          path: target1/1
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          path: target1/2
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          path: target2/1
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          path: target2/2

      - name: Test Local Action
        id: test-action
        uses: ./target1/1
        with:
          workspace: |
            target1/1
            target2
          configs: |
            [user]
              name = hoge

      - name: Print Output
        env:
          CONFIG_PATH: ${{ steps.test-action.outputs.config_path }}
        run: echo "${CONFIG_PATH}"
      - name: Print Output file
        env:
          CONFIG_PATH: ${{ steps.test-action.outputs.config_path }}
        run: cat "${CONFIG_PATH}"

      - name: Test user name
        shell: bash -ex {0}
        run: |
          test "$(git -C target1/1 config user.name)" == "hoge"
          test "$(git -C target1/2 config user.name)" != "hoge"
          test "$(git -C target2/1 config user.name)" == "hoge"
          test "$(git -C target2/2 config user.name)" == "hoge"

  test-no-option:
    name: GitHub Actions Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Test Local Action
        id: test-action
        uses: ./
